.frontpage-content-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.frontpage-paragraph {
    padding: 0.5em;
}

.frontpage-title {
    align-self: center;
    text-transform: uppercase;
    margin-top: 1em;
    font-size: 3em;
}

.frontpage-img-container {
    width: 80%;
    height: auto;
    align-self: center;
    border: 2px solid #fff;
    box-shadow: 10px 10px 5px #ccc;
}

.frontpage-img-container img {
    width: 100%;
}

.frontpage-paragraph:nth-of-type(2) {
    align-self: center;
}