@import url('navbar.css');

/* PLEASE USE SEPERATE CSS FILE FOR EVERY RECEIPE PAGE 
AND DO NOT CHANGE MAIN STYLES CSS 
AND USE UNIQE CLASS NAMES */

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
